.dark-text {
  color: rgb(70, 70, 70);
}

.text-with-dark-bg {
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
  padding: 3px 20px 6px 20px;
  color: white;
  font-weight: 600;
  line-height: 1.5;

  &.very-rounded {
    border-radius: 50px;
    padding: 8px 25px;
  }

  @media only screen and (max-width: 600px) {
    padding: 4px 20px !important;
  }
}

.bold-underlined-text {
  font-weight: 600;
  color: rgb(70, 70, 70);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: 0;
    width: calc(100% + 10px);
    height: 7px;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);

    @media only screen and (max-width: 600px) {
      height: 4px;
    }
  }
}

.button-big-text {
  font-size: 140%;
  height: 60px;
  padding: 0px 20px;
  color: white;
  font-weight: 700;
  background-color: #3aaaaa;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: 0.6s all;

  svg {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }

  &:hover,
  &:focus-within {
    transform: scale(1.04);
    background-color: #65bebe;
    transition: 0.2s all;
  }

  &.accent-color {
    background-color: #e78e3a;
    color: #ffffff;

    &:hover,
    &:focus-within {
      background-color: #ffae62;
      transition: 0.2s all;
    }
  }

  &.white-bg {
    background-color: white;
    color: #3aaaaa;
  }

  &.outlined-only {
    height: 54px;
    background-color: transparent;
    outline: 4px solid rgb(70, 70, 70);
    color: rgb(70, 70, 70);

    &.white-bg {
      background-color: white;
    }

    &:hover,
    &:focus-within {
      background-color: rgb(70, 70, 70);
      color: white;
      transition: 0.2s all;
    }
  }

  &.smaller {
    font-size: 110%;
    height: 45px;
  }

  &.normal-text-size {
    font-size: 100%;
    height: 40px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 100%;
    height: 40px;

    svg {
      width: 20px;
      margin-left: 5px;
    }

    &.smaller {
      font-size: 100%;
      height: 40px;
    }

    &.outlined-only {
      height: 32px;

      &:hover,
      &:focus-within {
        background-color: rgb(70, 70, 70);
        color: white;
        transition: 0.2s all;
      }
    }
  }
}

.blurred-backdrop {
  backdrop-filter: blur(20px) !important;
}

.card-glasspane-container {
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.04);
  // backdrop-filter: blur(30px);
  border-radius: 50px;

  @media only screen and (max-width: 600px) {
    padding: 30px !important;
  }

  @media only screen and (max-width: 400px) {
    padding: 20px !important;
  }
}
