@import './animations.scss';

.dark-text {
  color: rgb(70, 70, 70);
}

.text-with-dark-bg {
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
  padding: 3px 20px 6px 20px;
  color: white;
  font-weight: 700;
  line-height: 1.5;

  &.very-rounded {
    border-radius: 50px;
    padding: 8px 25px;
  }

  @media only screen and (max-width: 600px) {
    padding: 4px 20px !important;
  }

  &.dark-mode {
    color: rgb(70, 70, 70);
    background-color: white;
  }
}

.bold-underlined-text {
  font-weight: 600;
  color: rgb(70, 70, 70);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: 0;
    width: calc(100% + 10px);
    height: 7px;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);

    @media only screen and (max-width: 600px) {
      height: 4px;
    }
  }
}

.button-big-text,
.button-big-text[type='submit'] {
  font-size: 140%;
  height: 60px;
  padding: 0px 20px;
  color: white;
  font-weight: 700;
  background-color: #3aaaaa;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: 0.6s all;

  svg {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }

  &:hover,
  &:focus-within {
    transform: scale(1.04);
    background-color: #65bebe;
    transition: 0.2s all;
  }

  &:active {
    transform: scale(0.97);
  }

  &.accent-color {
    background-color: #e78e3a;
    color: #ffffff;

    &:hover,
    &:focus-within {
      background-color: #ffae62;
      transition: 0.2s all;
    }
  }

  &.secondary {
    background-color: rgb(70, 70, 70);
    color: white;
  }

  &.white-bg {
    background-color: white;
    color: #3aaaaa;
  }

  &.smaller {
    font-size: 110%;
    height: 45px;
  }

  &.outlined-only {
    height: 50px;
    background-color: transparent;
    outline: 4px solid rgb(70, 70, 70);
    color: rgb(70, 70, 70);

    &.white-bg {
      background-color: white;
    }

    &:hover,
    &:focus-within {
      background-color: rgb(70, 70, 70);
      color: white;
      transition: 0.2s all;
    }

    &.smaller {
      font-size: 110%;
      height: 38px;
      margin-top: 3px;
    }

    &.dark-mode {
      outline: 4px solid rgb(230, 230, 230);
      color: rgb(230, 230, 230);

      &:hover,
      &:focus-within {
        background-color: white !important;
        color: rgb(70, 70, 70) !important;
      }
    }
  }

  &.normal-text-size {
    font-size: 100%;
    height: 40px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 100%;
    height: 40px;

    svg {
      width: 20px;
      margin-left: 5px;
    }

    &.smaller {
      font-size: 100%;
      height: 40px;
    }

    &.outlined-only {
      height: 32px;

      &:hover,
      &:focus-within {
        background-color: rgb(70, 70, 70);
        color: white;
        transition: 0.2s all;
      }
    }
  }

  &:disabled {
    opacity: 0.6 !important;
    filter: saturate(0.4) !important;

    &:hover,
    &:active {
      transform: none !important;
    }
  }
}

.blurred-backdrop {
  backdrop-filter: blur(20px) !important;
}

.card-glasspane-container {
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.06);
  // backdrop-filter: blur(30px);
  border-radius: 50px;

  @media only screen and (max-width: 600px) {
    padding: 30px !important;
  }

  @media only screen and (max-width: 400px) {
    padding: 20px !important;
  }

  &.dark-mode {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.tooltip-class {
  background-color: white !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px lightgrey !important;
  color: rgb(70, 70, 70) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.MuiOutlinedInput-root > fieldset {
  border: none !important;
}

.MuiOutlinedInput-root {
  padding: 0px !important;
}

.MuiOutlinedInput-root > input,
.MuiOutlinedInput-root > textarea {
  border: none !important;
  outline: 2px solid rgb(80, 80, 80);
  border-radius: 12px;
  background-color: white;
  color: rgb(70, 70, 70);
  z-index: 1;
  padding: 10px 15px;
  transition: 0.2 all;

  &:focus,
  &:focus-within {
    outline: 2px solid #3aaaaa !important;
  }
}

.MuiOutlinedInput-root.Mui-error > input,
.MuiOutlinedInput-root.Mui-error > textarea {
  outline: 2px solid red !important;
}

.MuiOutlinedInput-root > textarea {
  padding: 10px 15px;
}

.MuiFormHelperText-root {
  opacity: 0;
  animation: 0.3s ease fadeInSlideDown forwards !important;
  font-weight: 500 !important;
  background-color: white;
  margin: 0 !important;
  margin-top: -10px !important;
  padding: 15px 10px 5px 10px !important;
  border-radius: 0px 0px 15px 15px !important;
}
