.card-title {
  font-size: 220%;
  font-weight: 700;
  border-radius: 40px;
  padding: 0px 30px;
  line-height: 2;
  background-color: rgb(70, 70, 70);
  color: white;
  width: fit-content;
}

.card-description {
  font-size: 180%;
  font-weight: 600;
  color: rgb(70, 70, 70);
}

.card-section {
  flex: 1 1 400px;
  max-width: 1600px;
}
