.card-title {
  font-size: 200%;
  font-weight: 700;
  border-radius: 40px;
  padding: 0px 30px;
  line-height: 2.15;
  background-color: rgb(70, 70, 70);
  color: white;
  width: max-content;

  @media only screen and (max-width: 700px) {
    font-size: 150%;
    width: fit-content;
    line-height: 1.4;
    padding: 5px 30px;
    text-align: center;
  }

  @media only screen and (max-width: 400px) {
    font-size: 110%;
    padding: 5px 20px;
  }

  &.inverted {
    background-color: white;
    color: rgb(70, 70, 70);
  }

  &.dark-mode {
    background-color: #3aaaaa;
  }
}

.card-description {
  font-size: 180%;
  font-weight: 600;
  color: rgb(70, 70, 70);

  @media only screen and (max-width: 700px) {
    font-size: 130%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 100%;
  }
}

.card-section {
  flex: 1 1 400px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;

  img {
    width: auto;
    max-height: 500px;
  }

  &.dark-mode {
    .card-title {
      background-color: white;
      color: rgb(70, 70, 70);
    }

    .card-description {
      color: white;
    }
  }
}
